section.offers
    .offers__left
        .offers__block
            p.offers__block-title Spain
            p.offers__block-hotel grand spain madrid
            p.offers__block-description But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
            button.offers__block-button
                a.offers__block-link(href="#") book now
    .offers__right
        .offers__block.offers__block1
            p.offers__block-title Spain
            p.offers__block-hotel grand spain madrid
            p.offers__block-description But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
            button.offers__block-button
                a.offers__block-link(href="#") book now