include ../utils/mixin

.order
    .order__block
        +icon("loupe")
        p.order__text Search Places
    .order_dots
    .order__block
        +icon("checked")
        p.order__text Select Places
    .order_dots.dots_mobile
    .order__block
        +icon("wow")
        p.order__text Book & Enjoy
