include ../utils/mixin

section.tourist-say
    h2.tourist-say__title What Our Tourist Say
    .tourist-say__feedback
        .tourist-say__feedback-image
            img(src="../assets/images/tourist_logo.jpg", alt="tourist-logo")
        .tourist-say__feedback-text
            p.tourist-say__feedback-name Sam Sumon
            p.tourist-say__feedback-descriotion
                +icon("quote")
                span But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system
