section.choice#choice
    .choice__left
        h2.choice__title Why Choose Us
        p.choice__text1 Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
        p.choice__text2 Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
        button.choice__button
            a(href="#").choice__button-link Explore places
    .choice__right
        .choice__right__image-block
            img.choice__image-block-first(src="../assets/images/whyimage1.jpg", alt="first-image")
            img.choice__image-block-second(src="../assets/images/whyimage2.jpg", alt="second-image")
