include ../utils/mixin

form.search.form-wrapper(action="")
    input(type="text" placeholder="Search Your Travel Destination" id="search__input")
    a(href="#")
        button.search__button(type="submit")
            p.search__tittle search
            +icon("search")