<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Travel Blog
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="/assets/icons/favicon.ico", type="image/x-icon")
    body
        main.main
            include introducing/introducing
            include header/header
            include choice/choice
            include order/order
            include offers/offers
            include tourist-say/tourist-say
            include footer/footer
        include sprite