include ../utils/mixin

footer.footer
    .footer__logo
        a.footer__logo__link(href="/index.html")
            h1.footer__logo__title Bromaon
            p.footer__logo__slogan Safe Travel Anywhere
    .socials
        .socials__icons
            a(href="https://www.facebook.com/").socials__links
                +icon("facebook")
            a(href="https://twitter.com/").socials__links
                +icon("twitter")
            a(href="https://www.linkedin.com/").socials__links
                +icon("linked-in")
            a(href="https://www.youtube.com/").socials__links
                +icon("youtube")
            a(href="https://www.pinterest.com/").socials__links
                +icon("pinterest")